name: .NET Build & SonarCloud

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'zulu'

    - name: Install SonarScanner
      run: dotnet tool install --global dotnet-sonarscanner

    - name: SonarCloud Begin
      run: |
        dotnet sonarscanner begin \
          /k:"Chechurrias_Parcial" \
          /o:"chechurrias" \
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
          /d:sonar.cs.vstest.reportsPaths="**/TestResults/*.trx" \
          /d:sonar.coverageReportPaths="**/coverage.cobertura.xml"
      working-directory: ./Parcial

    - name: Build Solution
      run: dotnet build BadCleanArch.sln --configuration Release
      working-directory: ./Parcial

    - name: Run Tests and Collect Coverage
      run: |
        dotnet test BadCleanArch.sln \
          --configuration Release \
          --collect:"XPlat Code Coverage" \
          --results-directory ./TestResults \
          --logger:trx
      working-directory: ./Parcial

    - name: SonarCloud End
      run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
      working-directory: ./Parcial
